.TypeShowButton{
    width: 100%;
    background-color: white;
    height: 55px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 20px 0px 0px 0px
}

.TypeShowButton h3{
   
    margin-left: 20px;
    font-weight: 400;
    color: rgb(128, 128, 128);
}
.TypeShowButton button{
    background-color: transparent;
    border: none;
    color: rgb(99, 63, 182);
    font-weight: 700;
    font-size: 15px;
    margin-left: 29px;
}