.Field{
    width: 90%;
    background-color: white;
    height: 55px;
    border-radius: 10px;
    margin: 20px 0px 0px 0px;
    display: flex;
    align-items: center;

}

.left-design{
    display: inline;
    border-radius: 10px 0px 0px 10px;
    width: 60px;
    background-color: rgb(171, 123, 242);
color: white;
}

.left-design h3{
    margin-left: 18px;
}

h2{
    font-weight: 400;

    margin-left: 10px;
}