.header{
    height: 53px;
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
}

.header h1{
    margin-left: 20px;
    color: rgb(56, 56, 56);
    font-size: 25px;
    margin-top: 0px;
} 

.main-body-container{
    width: 90%;
    margin: 0 auto;
}
.entry-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    color: rgb(56, 56, 56);
    background-color: rgb(209, 217, 226);
}

.entry-field-heading{
    display: flex;
    margin-left: 40px;
}
.entry-heading-text{
    font-size: 10px;
    width: 200px;
    font-weight: 300 !important;
    color: rgb(85, 84, 84);
}
.new-entry-button button{
    background-color: transparent;
    border: none;
    color: rgb(99, 63, 182);
    font-weight: 700;
    font-size: 15px;
}